body {
    background-color: yellow;
    text-align: center;
}

#Jeu {
    display: inline-block;
    background-color: #ff2d00;
    margin: 0 auto;
    padding: 10px;
}

#Jeu div {
    margin: 0 auto;
    overflow: hidden;
}

#Jeu button {
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 50px;
    margin: 5px;
    float: left;
}
